@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

@font-face {
    font-family: navFont;
    src: url('fonts/Proxima Nova Semibold.otf');
}

@font-face {
    font-family: sliderFont;
    src: url('fonts/adellesans-thin-webfont.ttf');
}

@font-face {
    font-family: countFnt;
    src: url('/fonts/Proxima Nova Bold.otf');
}

body {
    font-family: sliderFont;
}

.padding-right {
    padding: 0;
    padding-right: 15px;
}

.no-padding {
    padding: 0;
}

.cb-slideshow, .cb-slideshow:after {
    /*position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: #131313;*/
}

    .cb-slideshow li span.bannerImg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .cb-slideshow li div {
        /*z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;*/
        color: #fff;
    }

.parentDiv {
    position: relative;
    min-height: 100vh;
}

.sliderText {
    z-index: 1000;
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 100%;
}

    .sliderText span {
        color: #ef0017;
    }

    .sliderText p {
        font-size: 26px;
        margin: 0;
        color: #000;
        margin-top: 10px;
    }

    .sliderText .btnStarted {
        font-size: 18px;
        color: #fff;
        padding: 10px 25px;
        margin-top: 20px;
    }

#about h2, #services h2, #bloghome h2, #meet-team h2, #portfolio1 h2, #contact h2, #home h3 {
    font-family: sliderFont;
    font-size: 60px;
    font-weight: normal;
}

.cb-slideshow li div h3 {
    line-height: 1;
    color: #000;
    letter-spacing: 3px;
    margin: 0;
}

.cb-slideshow h3, .cb-slideshow h4 {
    margin-bottom: 9%;
}

.cb-slideshow li span.bannerImg {
    background-image: url(../images/banner.jpg);
}

.custom-menu {
    padding-left: 50px;
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span.bannerImg {
    opacity: 1;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1300px !important;
    }
    /*ul.cb-slideshow .container {
    width: 100% !important;
}*/
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 140px;
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 60px;
    }
}

@media screen and (min-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 70px;
        line-height: 60px;
    }
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.scroll-filter {
    background-color: rgba(0,0,0,0.5);
}

.intro-scroller {
    position: absolute;
    left: 0px;
    text-align: center;
    z-index: 9999;
    width: 100%;
    bottom: 0px;
}

    .intro-scroller p {
        color: #fff;
    }

.scroll-down {
    background-color: #1E1E1E;
    width: 100%;
    height: 60px;
    position: center;
    text-align: center;
}

.custom-scroll {
    color: #fff;
}

.mouse-icon {
    border: 2px solid;
    border-radius: 15px;
    bottom: 70px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 27px;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

    .mouse-icon:hover {
        opacity: 0.3 !important;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .mouse-icon .wheel {
        -webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        -moz-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        -o-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        border-radius: 30%;
        background: #fff;
        height: 12px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        right: 0;
        width: 5px;
    }

a.inner-link {
    color: #8c8c8c;
    text-decoration: none;
}

.cb-slideshow li span.bannerImg {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

@media only screen and (max-width:767px) {
    .mouse-icon {
        bottom: 10px;
    }

    .cb-slideshow li div h3 {
        font-size: 30px;
    }
}

body {
    color: #313131;
    font-family: 'Open Sans';
}

::-moz-selection {
    background: #E96840;
    color: #fff;
}

::-webkit-selection {
    background: #E96840;
    color: #fff;
}

::selection {
    background: #E96840;
    color: #fff;
}

html, body {
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

    a:focus, a:hover {
        color: #313131;
        text-decoration: none;
    }

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

header.carousel {
    min-height: 100vh;
    margin-top: 60px;
}

    header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
        height: 100%;
    }

    header.carousel .fill2 {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-color: #1B2D2D;
    }

    header.carousel .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-color: #E96840;
    }

.price {
    display: block;
    font-size: 18px;
    line-height: 50px;
}

    .price li {
        text-align: left;
    }

.period {
    display: block;
    font-style: italic;
}

footer {
    background-color: #1E1E1E;
    width: 100%;
    display: block;
    color: #f7f7f7;
    padding: 0.5% 0;
}

    footer .nav {
        padding-top: 2%;
    }

/*.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ef0017 !important;
    color: #fff;
    text-decoration: underline;
}*/

@media(max-width:991px) {
    .customer-img, .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.height-contact-element {
    margin: 30px 0;
}

.carousel-indicators-size {
    width: 15px;
    height: 15px;
}

.custom-container {
    height: 300px;
}

.custom-labels {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
}

.btn-noborder-radius {
    border-radius: 0px;
}

.menu-border-bottom {
    background-color: transparent;
    border-bottom: 2px solid white;
}

.color-elements {
    color: #E96840;
}

.custom-menu li {
    font-size: 12px;
    padding: 0px 0px;
}

.btn-custom, .btn-custom:active, .btn-custom:focus, .btn-custom:hover {
    background-color: #E96840;
    border-color: #E96840;
}

#about {
    padding: 100px 0px 0px 0px;
    background-color: #0f0f0f;
    min-height: 100vh;
    text-align: center;
    color: #c6c6c6;
    /*background-image:url("../images/background.jpg");background-repeat:repeat;*/;
}

.aboutSec {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top right;
    min-height: 100vh;
}

    .aboutSec .overView h2 {
        line-height: 0.7;
    }

.blankSpace {
    height: 15vh;
}

.overView h2 {
    color: #ef0017;
    font-family: sliderFont;
    font-size: 60px;
    text-transform: capitalize;
}

.overView span {
    color: #c6c6c6;
    font-size: 24px;
}

.parentSec p {
    margin: 0;
    color: #c6c6c6;
}

.overView {
    /*margin-top: 100px;*/
}

.count {
    font-family: countFnt;
    border: 3px solid #ef0017;
    width: 80px;
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    display: inline;
    padding: 10px 40px 8px 40px;
    color: #ef0017;
}

.topText p {
    color: #c6c6c6 !important;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 80px;
}

.parentSec {
    color: #fff;
    margin: 50px 10px 20px 10px;
    text-align: center;
    border: 1px solid #333;
    padding: 0 20px 40px 20px;
    background-color: #1a1a1a;
}

    .parentSec h4 {
        margin-top: 40px;
        color: #c6c6c6;
        font-size: 24px;
    }

.sec1, .sec2, .sec3, .sec4 {
    margin-top: -50px;
}

.mobile {
    position: absolute;
    right: -260px;
}

.designSec, .designSec2 {
    background-image: url(../images/design-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    min-height: 100vh;
}

.designSec2 {
    background-image: url(../images/design-2.png);
    background-color: #d70c40;
    background-position: top right;
}

    .designSec p, .designSec2 p {
        font-size: 24px;
    }

    .designSec2 h2 {
        color: #fff;
    }

    .designSec2 p {
        color: #fff;
    }

.btnRound, .btnSpecial {
    border: 1px solid #fff;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.btnSpecial {
    background-color: #ef0017;
    border: none;
    margin: 20px 0;
    padding: 10px 60px;
}

.btnPrice {
    color: #666;
    border: 1px solid #666;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 40px;
}

#price {
    background-image: url(../images/price.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    font-family: sliderFont;
}

.pricePlan {
    padding: 2% 0 1% 0;
}

    .pricePlan h2, #reachGrow h2 {
        color: #ef0017;
        font-family: sliderFont;
        font-size: 60px;
        margin: 0;
    }

    .pricePlan p, #reachGrow p {
        font-family: sliderFont;
        font-size: 24px;
        margin: 0;
    }

#reachGrow {
    font-family: sliderFont;
    text-align: center;
    min-height: 100vh;
    background-color: #fff;
}

.reachGrow, .reachGrow2 {
    background-image: url(../images/couple.jpg);
    position: relative;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    background-attachment: fixed;
}

.reachGrow2 {
    background-image: url(../images/boy-bg.jpg);
    background-position: bottom;
    background-size: cover;
}

.cell, .clock, .hello {
    background-image: url(../images/share.png);
    background-size: 10%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    background-position: 30px top;
    min-height: 210px;
    float: left;
    position: absolute;
    margin-top: 17%;
}

.clock {
    background-image: url(../images/clock.png);
    background-position: 97% top;
    min-height: 180px;
    margin-top: 3%;
    background-size: 12%;
}

.hello {
    background-image: url(../images/hello.png);
    background-position: 36% top;
    margin-top: 3%;
    background-size: 15%;
}

#customer {
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 100vh;
    overflow: hidden;
}

    #customer h1 {
        color: #ef0017;
        font-family: sliderFont;
        font-size: 60px;
    }

    #customer p, #launch p {
        font-size: 24px;
    }
/*#customer div{
        margin-bottom:30px;
    }*/
.margin {
    margin-bottom: 30px;
    overflow: hidden;
}

#corners .parentSec {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    border: none;
    border: 1px solid #0e0e0e;
}

.corner {
    margin-top: -200px;
    background: url(/images/corner-Left.png),url(../images/corner-right.png);
    background-position: left bottom,right bottom;
    background-repeat: no-repeat, no-repeat;
    min-height: 200px;
}

#launch h1 {
    color: #ef0017;
    font-size: 50px;
}

#launch {
    background-color: #0e0e0e;
    min-height: 100vh;
    padding-top: 60px;
    font-family: sliderFont;
}

.tab {
    background: url(../images/tabBottom.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 770px;
    background-size: contain;
}


#myCarousel li {
    transform: rotateZ(45deg);
}

#footer {
    width: 100%;
    font-size: 12px;
    color: #1E1E1E;
    clear: both;
    background-color: #ef0017;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse {
    background-color: #fff;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: navFont;
}

    .navbar-inverse .navbar-nav > li > a {
        font-size: 15px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #283033;
        padding-bottom: 6px;
        padding-right: 10px;
    }

.btnStarted {
    background-color: #ef0017;
    border-radius: 30px;
    margin-top: 7px;
    text-transform: uppercase;
}

    .btnStarted a {
        color: #fff !important;
        padding: 5px 20px !important;
    }

.navbar-inverse .navbar-nav li {
    margin-left: 15px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
    margin-bottom: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.navbar-inverse .navbar-nav > li > a:active {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease;
}

.navbar-inverse {
    border: none;
}

.navbar-brand img {
    margin-top: -5px;
}

@media only screen and (max-width:767px) {
    .navbar-collapse {
        border: none;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        border: none;
    }

    .navbar-inverse .navbar-nav > li {
        border-bottom: 1px solid #bd502f;
    }

        .navbar-inverse .navbar-nav > li:hover {
            border-bottom: 1px solid #FFF;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            transition-timing-function: ease;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #FFF;
            border: none;
        }
}

}

.mouse-icon {
    background: none;
    border: 2px solid;
    border-radius: 25px;
    bottom: 20px;
    height: 54px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 35px;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

    .mouse-icon:hover {
        opacity: 0.8 !important;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }

    .mouse-icon .wheel {
        -webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        -moz-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        -o-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
        border-radius: 40px;
        background: #848484;
        height: 10px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        right: 0;
        width: 7px;
    }

@-moz-keyframes magic-mouse-icon {
    0% {
        margin-top: 6px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 18px;
        opacity: 0;
    }
}

@-webkit-keyframes magic-mouse-icon {
    0% {
        margin-top: 6px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 18px;
        opacity: 0;
    }
}

@-o-keyframes magic-mouse-icon {
    0% {
        margin-top: 6px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 18px;
        opacity: 0;
    }
}

@keyframes magic-mouse-icon {
    0% {
        margin-top: 6px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 18px;
        opacity: 0;
    }
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #bd502f;
}
/*-------------------Features page---------------------*/
.banner {
    background-color: #ef0017;
    padding: 5% 0;
    font-family: sliderFont;
    color: #fff;
}

.btnBaner {
    background-color: #fff;
    color: #ef0017;
}

.banner h1 {
    margin: 0;
    margin-top: 5%;
    color: #fff;
    font-size: 60px;
}

.banner p {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

.banner a {
    padding: 5px 20px;
    margin: 15px 0;
    font-size: 24px;
}

section#features {
    padding: 50px 0;
    overflow: hidden;
}

.sidebar ul, #features ul {
    padding: 0;
}

    .sidebar ul li {
        background-color: #474747;
        overflow: hidden;
        margin: 2% 0;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        cursor:pointer;
    }

        .sidebar ul li.active {
            background-color: #d70c40;
        }

.itemList {
    width: 80%;
}

    .itemList li {
        background-image: url(../images/list-icon.png);
        background-repeat: no-repeat;
        margin: 15px 0;
        padding-left: 20px;
        background-position: left 5px;
    }

.featureImg {
    background-image: url(../images/mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 390px;
}

.ads {
    background-color: #d70c40;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 30px;
    text-align: center;
}

    .ads img {
        width: 100%;
    }

    .ads h3 {
        padding: 0 15px;
        color: #fff;
        font-size: 26px;
        font-family: sliderFont;
    }

.btmCnt {
    margin-top: 5%;
    font-family: sliderFont;
}

    .btmCnt p {
        font-size: 16px;
        color: #313131;
    }

.readMore {
    color: #313131;
    font-size: 20px;
    margin-bottom: 10%;
    background-image: url(../images/readMore.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    display: inline-block;
}

.btmCnt h2, #features h2 {
    color: #d70c40;
    font-size: 34px;
    margin-top: 5px;
}

.btmCnt h3 {
    color: #d70c40;
    font-size: 22px;
}

.servicBanner {
    background-image: url(../images/service-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.servicesImg,.marketingImg,.businessImg,.sellImg,.pcImg,.multImg,.elementImg,.firstImg,.updateImg,.ownImg {
    margin-top: 5%;
    background-image: url(../images/service-mobile.png);
    min-height: 400px;
}
.marketingImg{
   background-image: url(../images/marketing.jpg);
}
.businessImg{
    background-image:url(../images/businessTool.jpg);
    min-height:560px;
}
.sellImg{
    background-image:url(../images/sell.png);
     min-height:480px;
}
.pcImg{
        background-image:url(../images/pci.png);
}
.multImg{
    background-image:url(../images/multi.png);
    min-height: 430px;
}
.elementImg{
        background-image:url(../images/elements.png);
        min-height: 330px;
}
.firstImg{
    background-image:url(../images/first.png);
}
.updateImg{
    background-image:url(../images/update.jpg);
    min-height: 250px;
}
.ownImg{
    background-image:url(../images/own.png);
    min-height:610px;
}
.hidden{
    display:none;
}
/*-------------------Features page---------------------*/
.radio-group label {
    overflow: hidden;
}

.radio-group input {
    /* This is on purpose for accessibility. Using display: hidden is evil.
    This makes things keyboard friendly right out tha box! */
    height: 1px;
    width: 1px;
    position: absolute;
    top: -20px;
}


/* COMMON PRICING STYLES */
.panel.price,
.panel.price > .panel-heading {
    border-radius: 0px;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

    .panel.price:hover {
        box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }

        .panel.price:hover > .panel-heading {
            box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
        }


    .panel.price > .panel-heading {
        box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
        text-shadow: 0px 3px 0px rgba(50,50,50, .6);
    }

.price .list-group-item {
    border-bottom-: 1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom: 0px;
    background-color: #2f2f2f;
    text-transform: uppercase;
}


.panel.price .btn {
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border: 0px;
}

/* green panel */


.price.panel-green > .panel-heading {
    color: #fff;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    min-height: 103px;
}


.price.panel-green > .panel-body {
    color: #fff;
    background-color: #f5f5f5;
}


.lead {
    color: #000;
    margin: 0;
}

.glyphicon-ok {
    color: green;
    margin-right: 10px;
}

.glyphicon-remove {
    color: #ef0017;
    margin-right: 10px;
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: #f5f5f5;
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.off {
    text-decoration: line-through;
    color: rgb(86,86,86);
}

.trial {
    text-align: center;
    font-size: 16px;
    color: #ef0017;
    font-style: italic;
    margin: 0;
}

.panel.price {
    margin-bottom: 50px;
}

.advisor h1 {
    color: #ef0017;
}

.advisor p {
    color: #000;
    font-size: 18px;
    margin: 0;
}

.plan .radio-group label {
    //background-color: #d70c40;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #d70c40;
}

.btnRadio {
    color: #fff;
    background-color: #ef0017;
}

label.btn.btnRadio.not-active {
    color: #ef0017;
    background-color: #fff;
}
/*.radio-group{
    color: #ef0017;
    background-color: #fff;
}*/
/*----------------Gallery--------------------*/
#gallery {
    padding: 40px 0;
}

.gallery-title {
    font-size: 36px;
    color: #ef0017;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

    .gallery-title:after {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #ef0017;
    }

.filter-button {
    font-size: 18px;
    border: 1px solid #ef0017;
    border-radius: 5px;
    text-align: center;
    color: #ef0017;
    margin-bottom: 30px;
}

    .filter-button:hover {
        font-size: 18px;
        border: 1px solid #ef0017;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        background-color: #ef0017;
    }

    .filter-button.active {
        background-color: #ef0017;
        color: white;
    }

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}


/*----------------Gallery--------------------*/
#contactUs {
    padding: 50px 0 80px 0;
    font-size: 18px;
}

.contactInfo {
    margin: 40px 0;
}

    .contactInfo .info {
        border: 1px solid #c6c6c6;
        padding: 20px;
        margin: 10px;
        min-height: 260px;
    }

#login {
    min-height: 100vh;
}

.loginForm {
    padding: 10% 0;
}

form {
    width: 350px;
    margin: 0 auto;
}

    form.login input[type="text"], form.login input[type="password"] {
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        background: 0;
        border: 0;
        border-bottom: 1px solid #ef0017;
        outline: 0;
        font-style: italic;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 5px;
        color: #000;
        outline: 0;
    }

    form.login input[type="submit"] {
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 16px;
        outline: 0;
        cursor: pointer;
        letter-spacing: 1px;
    }

        form.login input[type="submit"]:hover {
            transition: background-color 0.5s ease;
        }

    form.login .remember-forgot {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
    }

    form.login .forgot-pass-content {
        min-height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form.login label, form.login a {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        float: left;
    }

    form.login a {
        transition: color 0.5s ease;
    }

        form.login a:hover {
            color: #ef0017;
            text-decoration: underline;
        }

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.testimonial {
    overflow: hidden;
}
ul.nav.navbar-nav.footerNav li {
    float: left;
}
@media only screen and (min-width:300px) and (max-width: 1000px) {
    h1 {
        font-size: 44px !important;
        line-height: 1.5 !important;
    }

    h2 {
        font-size: 40px !important;
        line-height: 1.5 !important;
    }

    h3 {
        font-size: 38px !important;
        line-height: 1.5 !important;
    }

    h4 {
        font-size: 36px !important;
        line-height: 1.5 !important;
    }

    p {
        font-size: 20px !important;
    }

    .navbar-fixed-top {
        position: relative;
    }

    .aboutSec {
        background-size: 100%;
        background-position: -150px 0px;
        padding-top: 55%;
    }
    /*.cb-slideshow li span.bannerImg{
        background-size:contain;
    }*/
    #home {
        margin: 0;
    }

    .sliderText {
        top: 10%;
    }

    .parentDiv {
        position: relative;
        min-height: 430px;
    }

    .designSec, .designSec2 {
        padding-top: 110%;
        text-align: center;
        padding-bottom: 10%;
    }

    .cell, .clock, .hello, .blankSpace, .corner,.ads {
        display: none;
    }

    .cb-slideshow {
        padding: 0;
    }

    .reachGrow {
        background-image: url(../images/couple.jpg);
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
        padding-top: 90%;
        background-attachment: inherit;
    }

    .reachGrow2 {
        background-position: 0;
        background-size: cover;
        background-attachment: inherit;
        min-height: initial;
    }

    #launch {
        min-height: 0;
    }

    .tab {
        min-height: 430px;
    }
    #contactUs{
        padding-bottom:0;
    }
    .navbar-inverse .navbar-toggle {
    border-color: #f01126;
    background-color: #ef0017;
}
    .navbar-inverse .navbar-brand{
        padding-left:10px;
    }
}

@media only screen and (min-width:300px) and (max-width: 767px) {
    h1 {
        font-size: 34px !important;
        line-height: 1.5 !important;
    }

    h2 {
        font-size: 30px !important;
        line-height: 1.5 !important;
    }

    h3 {
        font-size: 28px !important;
        line-height: 1.5 !important;
    }

    h4 {
        font-size: 24px !important;
        line-height: 1.5 !important;
    }

    p {
        font-size: 18px !important;
    }

    header.carousel {
        min-height: 210px;
    }

    .parentDiv,.ads {
        display: none;
    }

    .aboutSec {
        background-position: -80px 0;
    }
    .tab {
    min-height: 210px;
}
    .pull-right{
         float:none !important;
         clear:both;
     }
    .padding-right{
        padding:0;
    }
    .servicesImg {
    min-height: 160px;
}
}
@media only screen and (min-width:450px) and (max-width: 1024px) {
     header.carousel {
        min-height: 100vh;
    }
     .parentDiv {
        display: block;
    }
     .cb-slideshow li span.bannerImg {
    background-position: right;
}
     .corner{
         display:none;
     }
     .pull-right{
         float:none !important;
     }
      .padding-right{
        padding:0;
    }
}
@media only screen and (min-width:1024px) and (max-width: 1220px) {
    .designSec, .designSec2{
        background-size: 50%;
        min-height:0;
    }
     .designSec .blankSpace, .designSec2 .blankSpace{
        display:none;
    }
    #design,.designSec2{
        padding:5% 0;
    }
    .reachGrow{
        background-size:70%;
    }
}
@media only screen and (min-width:768px) and (max-width: 980px) {

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        font-size: 14px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 13px;
        margin-right: 3px;
        padding-left: 0px;
    }

    header.carousel {
        min-height: unset;
        margin-top: 0;
    }
}

@media only screen and (max-width:767px) {
    .searchbar {
        max-width: 100%;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #e6e6e6;
    }

    .portfolio-item {
        margin-bottom: 30px;
    }
}

#toTop {
    position: fixed;
    bottom: 38px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.color1 {
    background-color: #505050;
}

    .color1:hover {
        background-color: #353535;
    }

a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none !important;
}


.nav li a {
    text-transform: uppercase;
}



@media screen and (max-width: 768px) {
    .navbar-inverse .navbar-nav li {
        margin-right: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1140px) {
}

@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}
